/* global settings */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


*,*::before, *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
