/* mobile settings */
@media screen and (max-width:768px) {
    
:root {
    --body-color : #fff;
    --text-color : #fff;
    --btn-color : #fff;
    --font-size : 1rem;
    --header-size :2rem;
    --bg-image : url(assets/bg.jpg);
    --font-family :"Roboto", sans-serif;

    }



    .content {
        grid-template-columns: 1fr;
        

    }

    .text {
        font-weight: normal;
    }

    #section {
        height: 0;
    }
    .social-section {
        height: 0;
        padding-top: 20px;
    }
    .social-icon {
        margin: 10px;
    }
    #signature a {
        font-size: 1rem;
    }
    .btn {
        font-size: 1.5rem;
    }
}